.intl-tel-input {
    width: 100% !important;
  }

  .bx {
    font-size: 18px !important;
  }

  .intl-tel-input.allow-dropdown {
    width: inherit !important;
  }

  .password-wrapper i {
    position: absolute;
    right: 0;
    padding-right: 10px;
  }
  .password-wrapper {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
  }

  .dashboard .info-card h6 {
    font-size: 22px;
  }

  .rewardn {
    font-size: 13px !important;
}

#mytable img {
  width: 30px;
  height: 30px;
}

#paymentBox .bx {
  font-size: 48px !important;
}

.airdrop {
  position: fixed;
  right: 0;
  bottom: 50px;
  background: #4154f1;
  padding: 11px;
  border-radius: 50%;
  margin-right: 20px;
}

.airdrop span .bi {
  font-size: 25px;
  color: #fff;
}
.airdrop:hover{
  background: rgb(60, 38, 158);
}
.airdrop:hover .bi {
  color: #fff;
}


.mine-engine {
    cursor: pointer;
    color: rgba(152, 152, 152, 0.43);
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: none;
        border-bottom-color: currentcolor;
        border-bottom-style: none;
        border-bottom-width: medium;
    font-size: 4rem;
    font-weight: bold;
    background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
    border-bottom: 2px solid #b5b5b5;
    margin-bottom: 2rem;
}

.mine-engine i.bx{
    font-size: 6rem
}

.timer span {
    font-size: 1.5rem;
}

.mine-balance span {
    font-size: 1rem;
}
.timer button,.mine-balance button{
    pointer-events: none;
}

 @keyframes pulse {
    0% {
        transform: scale(1);
      box-shadow: 0 0 0 0 rgb(85, 110, 230,0.44);
    }
    70% {
        transform: scale(1.1);
        box-shadow: 0 0 0 50px rgb(178, 153, 27, 0);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgb(178, 153, 27, 0);
    }
  }
  
.mine-wrapper .pulse {
    animation: pulse 2s infinite;
}

body[data-sidebar="dark"].mine-active #mine h4 {
    color: #000 !important;
}

body[data-sidebar=""].mine-active #mine h4 {
    color: #fff !important;
}

.mine-active .mine-wrapper,button.nothingbtn{
    pointer-events: none;
}