<div class="col-md-12 d-flex justify-content-end">
    <div class="form-group mt-4">
        <button onclick="deleteWallet(this)" type="button" class="btn btn-danger  ml-auto">Delete Wallet</button>
        <button type="submit" id="submit" class="btn btn-primary">Edit Wallet</button>
    </div>
</div>