</main>
<footer id="footer" class="footer">
  <div class="copyright"> ©<script>document.write(new Date().getFullYear())</script> Copyright <strong><span><%=websiteDetails.website_title%></span></strong>. All Rights Reserved</div>
  <div class="d-none credits"> Developed by <a href="<%=websiteDetails.website_dev_link%>"><%=websiteDetails.website_dev_name%></a></div>
</footer> <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

<%if(user.can_claim_airdrop){%>
  <div onclick="getAirdrop(this)" title="Claim Daily Airdrop" class="airdrop">
      <span><i class="bi bi-droplet-half"></i></span>
  </div>
<%}%>
<script src="/user/vendor/apexcharts/apexcharts.min.js"></script>
<script src="/user/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/user/vendor/chart.js/chart.min.js"></script>
<script src="/user/vendor/echarts/echarts.min.js"></script>
<script src="/user/vendor/quill/quill.min.js"></script>
<script src="/user/vendor/simple-datatables/simple-datatables.js"></script>
<script src="/user/vendor/php-email-form/validate.js"></script>
<script src="/user/js/main.js"></script>
<script src="/user/js/fetcher.js"></script>
<!-- App js -->
<script src="/user/js/lib/cute-alert.js"></script>


<script>
  window.getAirdrop = function(e){

submit = e;
fetchResourse({}, "/user/airdrop", "POST", "reload",true);
}
</script>
</body>

</html>