<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="noindex, nofollow">
    <title><%=title%></title>

    <link rel="shortcut icon" href="<%= websiteDetails.website_favicon %>">
    
    <link rel="stylesheet" href="/admin/css/bootstrap.css">
    <link href="/admin/css/style.css" rel="stylesheet">
    <link href="/admin/css/custom.css" rel="stylesheet">
    <link href="/admin/css/circular.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        html,
        body {
            height: 100%;
        }

        body {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
        }
    </style>
    
</head>

<body>