<html lang="en">


    <head>
        <meta charset="utf-8">
        <title><%=title%></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link
            href="/user/css/css.css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet">
        <link href="/user/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/user/css/style.css" rel="stylesheet">
    </head>

<body>
    <main>
        <div class="container">
            <section class="p-0 pt-5 section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
                <h2 style="color:#012970;font-weight:bold"><%=title%></h2>
                <h2><%=text%></h2> <a id="back" class="btn" href="javascript:;">Go Back</a>
                <img src="/user/img/not-found.svg" class="img-fluid py-5" alt="Page Not Found">
                
            </section>
        </div>
    </main>
    
    <script>
        document.querySelector("a#back").addEventListener("click",()=>history.back())
        </script>
</body>

</html>