<div class="modal fade couponModal" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Coupon Mode</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title-desc">Input your purchased coupon code below Or Purchase new coupon code from our vendor <a href="/vendors">HERE</a>.</p>
                                <form id="couponMode">
                                    <div class="mb-3">
                                        <label for="coupon" class="form-label">Enter Coupon Code</label>
                                        <input type="text" class="form-control" id="coupon" required>
                                    </div>
                        
                                    <div>
                                        <button id="submit" type="submit" class="btn btn-primary w-md">Proceed</button>
                                    </div>
                                </form>
                            </div>
                            <!-- end card body -->
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>