<div class="modal fade payment_list" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Make Payment Using Any Below Gateway</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div data-bs-toggle="modal" data-bs-target=".couponModal" id="paymentBox" class="col-6 couponPay">
                        <div  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Pay Using Coupon Code" class="flex-shrink-0 me-3">
                            <div class="avatar-md">
                                <i class='bx bxs-coupon text-danger'></i>
                                <p>Use Coupon</p>
                            </div>
                        </div>
                    </div>
     
                    
                    <div onclick="cryptoGateway(this)" id="paymentBox" class="col-6 cryptoPay">
                        <div data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Pay Using Crypto" class="flex-shrink-0 me-3">
                            <div class="avatar-md">
                                <i class='bx bx-bitcoin text-success'></i>
                                <p>Use Crypto</p>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>