<footer class="new_footer_area bg_color drdt-ignore-dark">
    <div class="new_footer_top drdt-ignore-dark">
        <div class="container drdt-ignore-dark">
            <div class="row drdt-ignore-dark">
                <div id="text-1" class="widget footer-widget col-lg-4 col-md-6 widget_text drdt-ignore-dark">
                    <div class="f_widget about-widget drdt-ignore-dark">
                        <div class="textwidget drdt-ignore-dark">
                            <p class="drdt-ignore-dark"><a
                                    href="/" rel="noopener" class="drdt-ignore-dark"><img loading="lazy"
                                        class="alignnone size-medium wp-image-3494 drdt-ignore-dark" style="width:156px;height:40px;object-fit: contain"
                                        src="<%=websiteDetails.website_logo%>"
                                        alt="<%=websiteDetails.website_title%>"></a></p>
                            <p class="f_300 f_p f_size_15 mb-0 l_height28 mt_30 drdt-ignore-dark"><%-websiteDetails.website_description%></p>
                        </div>
                    </div>
                </div>
                <div id="nav_menu-3"
                    class="widget footer-widget col-lg-4 col-md-6 widget_nav_menu drdt-ignore-dark">
                    <div class="f_widget about-widget pl_70 drdt-ignore-dark">
                        <h3 class="widget_title f-title f_600 t_color f_size_18 mb_40 drdt-ignore-dark">Company</h3>
                        <div class="menu-footer-03-container drdt-ignore-dark">
                            <ul id="menu-footer-03" class="menu drdt-ignore-dark">
                                <li id="menu-item-7952"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7952 drdt-ignore-dark">
                                    <a href="/page/about-us" class="nav-link drdt-ignore-dark">About Us </a>
                                </li>
                                <li id="menu-item-7953"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7953 drdt-ignore-dark">
                                    <a href="/page/learn-more" class="nav-link drdt-ignore-dark">Learn More </a>
                                </li>
                                <li id="menu-item-7954"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7954 drdt-ignore-dark">
                                    <a href="/checker" class="nav-link drdt-ignore-dark">Coupon Checker
                                    </a></li>
                                <li id="menu-item-7955"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7955 drdt-ignore-dark">
                                    <a href="/blog"
                                        class="nav-link drdt-ignore-dark">Blog </a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="nav_menu-2"
                    class="widget footer-widget col-lg-4 col-md-6 widget_nav_menu drdt-ignore-dark">
                    <div class="f_widget about-widget pl_70 drdt-ignore-dark">
                        <h3 class="widget_title f-title f_600 t_color f_size_18 mb_40 drdt-ignore-dark">
                            Legal</h3>
                        <div class="menu-footer-02-container drdt-ignore-dark">
                            <ul id="menu-footer-02" class="menu drdt-ignore-dark">
                                <li id="menu-item-7959"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7959 drdt-ignore-dark">
                                    <a href="/page/terms-and-conditions"
                                        class="nav-link drdt-ignore-dark">Terms & Conditions </a></li>
                                <li id="menu-item-7960"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7960 drdt-ignore-dark">
                                    <a href="/page/privacy-policy" class="nav-link drdt-ignore-dark">Privacy Policy</a></li>
                                <li id="menu-item-7957"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7957 drdt-ignore-dark">
                                    <a href="/page/disclaimer"
                                        class="nav-link drdt-ignore-dark">Disclaimer </a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>
    <div class="footer_bottom drdt-ignore-dark">
        <div class="container drdt-ignore-dark">
            <div class="row align-items-center drdt-ignore-dark">
                <div class="col-lg-6 col-sm-7 drdt-ignore-dark">
                    <p class="drdt-ignore-dark">© <a href="/"
                            class="drdt-ignore-dark"><%=websiteDetails.website_title%></a> <script>document.write(new Date().getFullYear())</script> All rights reserved.</p>
                </div>
                
        </div>
    </div>
</footer>

</div>

<script src="/user/js/fetcher.js"></script>
<!-- App js -->
<script src="/user/js/lib/cute-alert.js"></script>

<link data-optimized="1" rel="stylesheet" id="saasland-style-new-css"
href="/home/wp-content/litespeed/css/1/f3a8338d9904ed2afd159e1c6897059a.css?ver=63576"
type="text/css" media="all">
<link data-optimized="1" rel="stylesheet" id="curve-counter-event-css"
href="/home/wp-content/litespeed/css/1/3c15105e9385a5c2d113495098364ae4.css?ver=3f98c"
type="text/css" media="all">
<link data-optimized="1" rel="stylesheet" id="saasland-images-css"
href="/home/wp-content/litespeed/css/1/ec56be652a471425990e792937035266.css?ver=c7e9f"
type="text/css" media="all">
<link data-optimized="1" rel="stylesheet" id="rs-plugin-settings-css"
href="/home/wp-content/litespeed/css/1/0d1e55284bc2bd7f3e4db8ab54f1ec48.css?ver=97f44"
type="text/css" media="all">
<style id="rs-plugin-settings-inline-css" type="text/css"></style>
<script data-optimized="1" type="text/javascript"
src="/home/wp-content/litespeed/js/1/50814dd3c48995855eb6f66a3770e41d.js?ver=dbbb2"
id="imagesloaded-js"></script>
<script data-optimized="1" type="text/javascript"
src="/home/wp-content/litespeed/js/1/7c6eb641ff2667378ca0bd3895266a00.js?ver=93707"
id="animated_text-js"></script>

<script data-optimized="1" type="text/javascript"
src="/home/wp-content/litespeed/js/1/05653d1351f89731a0e9b804a7be4fa2.js?ver=56b22"
id="dlAddons-widgets-js"></script>
<script data-optimized="1" type="text/javascript"
src="/home/wp-content/litespeed/js/1/2f2bc4a4d324baf557fa25997cf25ed2.js?ver=43783"
id="drth-video-popup-1-js"></script>

<script data-optimized="1" type="text/javascript"
src="/home/wp-content/litespeed/js/1/638f9b7418327d57ca572b68d6e865be.js?ver=6d7cf"
id="drth-theme-script-js"></script>
<script data-optimized="1" type="text/javascript"
src="/home/wp-content/litespeed/js/1/626738a08cb9ed4babe9c5568e6709c7.js?ver=43eee"
id="owl-carousel-js"></script>
<script data-optimized="1" type="text/javascript"
src="/home/wp-content/litespeed/js/1/f5903e640740bb2b78202401076bb9df.js?ver=5b8a0"
id="jquery-parallax-move-js"></script>
<script data-optimized="1" type="text/javascript"
src="/home/wp-content/litespeed/js/1/9629fab27d8a56e7d531acf376b80441.js?ver=06f49"
id="jquery-imagesloaded-js"></script>
<script data-optimized="1" type="text/javascript"
src="/home/wp-content/litespeed/js/1/08cb5362dfd99c238aa547e657ee836a.js?ver=27e11"
id="jquery-isotope-js"></script>
<script data-optimized="1" type="text/javascript"
src="/home/wp-content/litespeed/js/1/6d738102ec3e0e1ac30941e1df51cd01.js?ver=0465c"
id="isotope-mode-js"></script>
<script data-optimized="1" type="text/javascript"
src="/home/wp-content/litespeed/js/1/ea679c4889de9a56050b64943cb77e1e.js?ver=23f25"
id="jquery-masonary-js"></script>
<script data-optimized="1" type="text/javascript"
src="/home/wp-content/litespeed/js/1/fc9445d395c04efedcee106b7f354ee3.js?ver=38748"
id="countdown-jquery-js"></script>
<script data-optimized="1" type="text/javascript"
src="/home/wp-content/litespeed/js/1/11df67d032481e1f6618fccece1390af.js?ver=bcbc1"
id="dl-goodshare-js"></script>
<script data-optimized="1" type="text/javascript"
src="/home/wp-content/litespeed/js/1/1d33ae37c646a4cea8a1666984616961.js?ver=ee534"
id="wow-js"></script>
<script data-optimized="1" type="text/javascript"
src="/home/wp-content/litespeed/js/1/662bd8e4d3e535c1d7127d50a5132013.js?ver=94fb2"
id="appart-custom-js"></script>
<script data-optimized="1" type="text/javascript"
src="/home/wp-content/litespeed/js/1/d57b268c6cb461b304c9e1328c35ddd8.js?ver=a128a"
id="saasland-main-js"></script>
<script data-optimized="1" type="text/javascript"
src="/home/wp-content/litespeed/js/1/34dde5522ede89f3cc927075827767fb.js?ver=37045"
id="regenerator-runtime-js"></script>
<script data-optimized="1" type="text/javascript"
src="/home/wp-content/litespeed/js/1/a8767471b3ce1c156517b78fefd155e8.js?ver=a8c5e"
id="wp-polyfill-js"></script>
<script data-optimized="1" type="text/javascript"
id="contact-form-7-js-extra">var wpcf7 = { "api": { "root": "https:\/\/saaslandwp.com\/demo\/wp-json\/", "namespace": "contact-form-7\/v1" } }</script>
<script data-optimized="1" type="text/javascript"
src="/home/wp-content/litespeed/js/1/8219b3873ad9b7d73bdd3736d08b38df.js?ver=349f1"
id="contact-form-7-js"></script>
<script data-optimized="1" type="text/javascript"
src="/home/wp-content/litespeed/js/1/2f762f1a5d719adbc3dbe0c6d921aa81.js?ver=13554"
defer="" async="" id="tp-tools-js"></script>
<script data-optimized="1" type="text/javascript"
src="/home/wp-content/litespeed/js/1/f1721076b1aa88b647f6502d2d58ae5c.js?ver=8975c"
defer="" async="" id="revmin-js"></script>
<script data-optimized="1" type="text/javascript"
src="/home/wp-content/litespeed/js/1/c57574d151f38a66b1d1466387077f37.js?ver=2d110"
id="jquery-blockui-js"></script>

<script data-optimized="1" type="text/javascript"
src="/home/wp-content/litespeed/js/1/df6f43c0fb7276f28e0042080c4b7ed3.js?ver=dad9a"
id="wc-add-to-cart-js"></script>
<script data-optimized="1" type="text/javascript"
src="/home/wp-content/litespeed/js/1/75b7f153d8c8522588593f5f40392e46.js?ver=c2a0a"
id="js-cookie-js"></script>
<script data-optimized="1" type="text/javascript"
id="woocommerce-js-extra">var woocommerce_params = { "ajax_url": "\/demo\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/demo\/?wc-ajax=%%endpoint%%" }</script>
<script data-optimized="1" type="text/javascript"
src="/home/wp-content/litespeed/js/1/12aa744e98e1b666471fd69e47873138.js?ver=74593"
id="woocommerce-js"></script>

<script data-optimized="1" type="text/javascript"
src="/home/wp-content/litespeed/js/1/35fcef02466256ec571502b02ace79e6.js?ver=c5956"
id="wc-cart-fragments-js"></script>
<script data-optimized="1" type="text/javascript"
src="/home/wp-content/litespeed/js/1/4abcd66154206fc75a59f631bcab56f7.js?ver=b50cd"
id="dl-sticky-js-js"></script>

<script data-optimized="1" type="text/javascript"
src="/home/wp-content/litespeed/js/1/408bb353eb9bc57f85638b688e60548b.js?ver=e47fd"
id="dtdr-public-js"></script>

<script data-optimized="1" type="text/javascript"
src="/home/wp-content/litespeed/js/1/8db18a9775afae1ba7151838e3f9ea3f.js?ver=d028f"
id="tinvwl-js"></script>
<script data-optimized="1" type="text/javascript"
src="/home/wp-content/litespeed/js/1/8ab4f7c997dc7dc3383431cd25b99175.js?ver=59b82"
id="anime-js"></script>
<script data-optimized="1" type="text/javascript"
src="/home/wp-content/litespeed/js/1/4d71503a03745c46654bc2ff148e5b60.js?ver=38f47"
id="anime-script-js"></script>

<script data-optimized="1" type="text/javascript"
src="/home/wp-content/litespeed/js/1/0be082f36f03b52aa2932443cd2a2393.js?ver=740ca"
id="dl_addons_subscriber-js"></script>
<script data-optimized="1" type="text/javascript"
src="/home/wp-content/litespeed/js/1/551c963af07043d4ae4ff6e741fa91b9.js?ver=9afa0"
id="dl-fullpage-js"></script>
<script data-optimized="1" type="text/javascript"
src="/home/wp-content/litespeed/js/1/d3ae06e889fb299e76393355a4a8bd8c.js?ver=8cd98"
id="dl-scroll-overflow-js"></script>
<script data-optimized="1" type="text/javascript"
src="/home/wp-content/litespeed/js/1/498894c3dbed3eaf5604713c00c62136.js?ver=4af67"
id="dl-scrolling-js"></script>
<script data-optimized="1" type="text/javascript"
src="/home/wp-content/litespeed/js/1/9fb9cd51ee06517f79af084b50f64b40.js?ver=55e3f"
id="saasland-dark-support-js"></script>
<script data-optimized="1" type="text/javascript"
src="/home/wp-content/litespeed/js/1/458675129b82047b149a39f5669bc421.js?ver=de688"
id="propper-js"></script>
<script data-optimized="1" type="text/javascript"
src="/home/wp-content/litespeed/js/1/e4de235a4abb7517d65bd826aa1c4a4e.js?ver=80b28"
id="bootstrap-js"></script>
<script data-optimized="1" type="text/javascript"
src="/home/wp-content/litespeed/js/1/fe9b4328363f9e7753abfb52f2d336cf.js?ver=f0bf1"
id="parallax-scroll-js"></script>
<script data-optimized="1" type="text/javascript"
src="/home/wp-content/litespeed/js/1/b6ce6fd339163493cfe6f180cf5ab2c8.js?ver=c2519"
id="magnific-popup-js"></script>
<script data-optimized="1" type="text/javascript"
src="/home/wp-content/litespeed/js/1/779c4a1f1899e901a72220deccd23734.js?ver=67bb0"
id="mCustomScrollbar-js"></script>

<script data-optimized="1" type="text/javascript"
src="/home/wp-content/litespeed/js/1/3e5a9dfbdd962eb3cb2ae0ed5229581e.js?ver=f0a8d"
id="saasland-custom-wp-js"></script>
<script data-optimized="1" type="text/javascript"
src="/home/wp-content/litespeed/js/1/bb98e1af0b8b259a4d4531614816cfa6.js?ver=6cfa6"
id="lord-icon-js"></script>
<script data-optimized="1" type="text/javascript"
src="/home/wp-content/litespeed/js/1/0bd7b4bb567e73a19e62a2cab6826d37.js?ver=d9b0a"
id="typed-js"></script>
<script data-optimized="1" type="text/javascript"
src="/home/wp-content/litespeed/js/1/1602828a06b2f5855d9b8129c65aa93b.js?ver=a5d97"
id="waypoints-js"></script>
<script data-optimized="1" type="text/javascript"
src="/home/wp-content/litespeed/js/1/3174023ec3c20f616ad296c8e0bda93d.js?ver=6ebbc"
id="counterup-js"></script>
<script data-optimized="1" type="text/javascript"
src="/home/wp-content/litespeed/js/1/f575013e236f98768f46e60f56a58513.js?ver=2aeb5"
id="elementor-webpack-runtime-js"></script>
<script data-optimized="1" type="text/javascript"
src="/home/wp-content/litespeed/js/1/6c72f6b71bf3f0681acfc6904374c8cd.js?ver=52f56"
id="elementor-frontend-modules-js"></script>
<script data-optimized="1" type="text/javascript"
src="/home/wp-content/litespeed/js/1/5807bb9ed0812bc1abb169b9cfc6ffc4.js?ver=9b33a"
id="elementor-waypoints-js"></script>
<script data-optimized="1" type="text/javascript"
src="/home/wp-content/litespeed/js/1/cdf484609f6baa39aea49249ec894f90.js?ver=08751"
id="jquery-ui-core-js"></script>

<script data-optimized="1" type="text/javascript"
src="/home/wp-content/litespeed/js/1/7f413a3cd24bae860eaec307457a59e2.js?ver=ac3af"
id="elementor-frontend-js"></script><span id="elementor-device-mode" class="elementor-screen-only"></span>

<script data-optimized="1" type="text/javascript"
src="/home/wp-content/litespeed/js/1/d099aff4263d4be213e966df564eabed.js?ver=a4de0"
id="dladdons-parallax-section-init-js"></script>
<script data-optimized="1" type="text/javascript"
src="/home/wp-content/litespeed/js/1/479381f310764d79fd129397f330664b.js?ver=1aa27"
id="saasland-elementor-js"></script>

<script data-optimized="1" type="text/javascript"
src="/home/wp-content/litespeed/js/1/b42f69d5ae0927a25432d539dcbd5d63.js?ver=0ed54"
id="dlpro-editor-js"></script>


</body>

</html>