<div class="nav-left-sidebar sidebar-dark">
    <div class="slimScrollDiv" style="position: relative; overflow: visible; width: auto; height: 100%;">
        <div class="menu-list" style="overflow: visible; width: auto; height: 100%;">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                <button class="navbar-toggler sidemenu" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse show" id="navbarNav">
                    <ul class="navbar-nav flex-column">
                        
                        <li class="nav-divider">
                            Menu
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/admin/dashboard"><i
                                    class="fa fa-fw fa-tachometer"></i> Dashboard </a>
                        </li>
                        
                        
                        <li class="nav-item ">
                            <a class="nav-link" href="/admin/notice"><i class="fa fa-fw fa-bullhorn"></i> Notice </a>
                        </li>
                        
                        <li class="nav-item ">
                            <a class="nav-link" href="/admin/coupon"><i class="fa fa-fw fa-codiepie"></i> Coupon </a>
                        </li>
                        
                        <li class="nav-item ">
                            <a class="nav-link" href="/admin/packages"><i class="fa fa-fw fa-briefcase"></i> Packages </a>
                        </li>

                        <li class="nav-item ">
                            <a class="nav-link" href="/admin/generation"><i class="fa fa-fw fa-long-arrow-up"></i>Upline Generation </a>
                        </li>
                        
                        <li class="nav-item ">
                            <a class="nav-link" href="/admin/spillover"><i class="fa fa-fw fa-superpowers"></i>Spillover </a>
                        </li>

                        <li class="nav-item ">
                            <a class="nav-link" href="/admin/users"><i class="fa fa-fw fa-users"></i>Users </a>
                        </li>
                        

                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#page"
                                aria-controls="page"><i class="fa fa-fw fa-file-text"></i> Pages</a>
                            <div id="page" class="collapse submenu">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/admin/pages">All Pages </a>
                                    </li>
                                    
                                    
                        
                                </ul>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#posts"
                                aria-controls="posts"><i class="fa fa-fw fa-book"></i> Posts</a>
                            <div id="posts" class="collapse submenu">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/admin/posts">All Posts </a>
                                    </li>
                                    
                                    
                        
                                </ul>
                            </div>
                        </li>
                       

                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#withdrawal"
                                aria-controls="withdrawal"><i class="fa fa-fw fa-money"></i>Withdrawal</a>
                            <div id="withdrawal" class="collapse submenu">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/admin/withdrawal/pending">Pending Withdrawals </a>
                                    </li>
                                    
                                    
                                    <li class="nav-item">
                                        <a class="nav-link" href="/admin/withdrawal/completed">Completed Withdrawals</a>
                                    </li>
                                    
                        
                                </ul>
                            </div>
                        </li>
                       
            


                        
                        
                        




                        <!-- <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false"
                                data-target="#submenu-2" aria-controls="submenu-2"><i class="fa fa-fw fa-history"></i>History/Logs</a>
                            <div id="submenu-2" class="collapse submenu">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/admin/history/active-investment">Investment History </a>
                                    </li>
                                    
                                    
                                    
                                </ul>
                            </div>
                        </li> -->

                       

                        
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#settingss"
                                aria-controls="settingss"><i class="fa fa-fw fa-cogs"></i>Settings</a>
                            <div id="settingss" class="collapse submenu">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/admin/websettings">Basic Settings </a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="/admin/bonuses">Bonuses Settings</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="/admin/identity">Identity Settings </a>
                                    </li>
                                    
                                    <li class="nav-item">
                                        <a class="nav-link" href="/admin/social">Social Media Settings</a>
                                    </li>
                                    
                                    <li class="nav-item">
                                        <a class="nav-link" href="/admin/withdrawalSettings">Withdrawal Settings</a>
                                    </li>

                            
                                
                        
                                </ul>
                            </div>
                        </li>


                        
                        <hr>

                        <li class="nav-item ">
                            <a class="nav-link" href="https://wa.me/2349021020979?text=Hello%20Flexible"><i class="fa fa-fw fa-question"></i>Need Help? </a>
                        </li>
                        
                    </ul>
                </div>
            </nav>
        </div>
        
    </div>
</div>